<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select source and driving face images.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app may use the camera to capture driving expressions for face reenactment.</string>
</dict>
</plist>
